@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-orange-50 via-white to-indigo-50 min-h-screen;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
